.showAll {
  margin-top: 72px;
  padding-bottom: 8px;
  width: 100px;
  font-family: LeagueSpartan;
  font-size: 9px;
  font-weight: bold;
  letter-spacing: 5.4px;
  text-align: center;
  color: #333;
  text-decoration: unset;
  border-bottom: 1px solid #5da8ef;
}
