@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("http://fonts.cdnfonts.com/css/league-spartan");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@100&display=swap");

.loading {
  min-height: 300px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
