.navItems {
  padding-left: 150px;
  font-weight: bold;
}
.navItem {
  color: rgba(11, 12, 17, 0.9);
  padding: 0.5rem 2rem !important;
  font-family: LeagueSpartan;
  font-size: 9px;
  letter-spacing: 5.58px;
}
