.holder {
  margin-top: 105px;
}
.title {
  margin-left: 31px;
  opacity: 0.6;
  font-family: LeagueSpartan;
  font-size: 9px;
  font-weight: bold;

  letter-spacing: 5.58px;
  text-align: left;
  color: rgb(11, 12, 17);
}
.description {
  width: 336px;
  /* height: 116px; */
  margin: 55px 78px 67px 91px;
  font-family: PlayfairDisplay;
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: 0.32px;
  text-align: left;
  color: #333;
}
.ourCampLink {
  width: 126px;
  height: 8px;
  margin: 67px 1px 10px 42px;
  font-family: LeagueSpartan;
  font-size: 9px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 7.33;
  letter-spacing: 5.4px;
  text-align: left;
  color: #5da8ef;
  text-decoration: unset;
  border-bottom: 1.5px solid #5da8ef;
  padding-bottom: 10px;
}
